# URLs
BASE_URL=https://i.snoball.local
LOGIN_URL=/login
PROJECTS_URL=/projects
USERS_ADD_URL=/users/add
USERS_URL=/users

# Admin Login Credentials
ADMIN_EMAIL=2222222@user.com
ADMIN_PASSWORD=123@Admin

# Admin Account Creation Fields
ADMIN_FIRST_NAME=Auto Test First Name
ADMIN_LAST_NAME=Auto Test Last Name
ADMIN_ROLE=Admin
ADMIN_TIMEZONE=Asia/Tehran (+03:30)
ADMIN_PASSWORD_NEW=123@Test
ADMIN_JOB_TITLE=QA Engineer
ADMIN_COMPANY=Company Name
ADMIN_EMAIL_DOMAIN=@auto-test.com
